.intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5rem 0;
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);  
  overflow: hidden;
}

.top-content {
  padding: 3rem 2rem;
  background-color: #fff;
}
 
.top-content h3 {
  display: block;
  width: fit-content;
  margin: auto;
  padding-bottom: 1rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  border-bottom: 3px solid #e00366;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 500px;
  padding: 3rem;
  background-color: #fff;
}

.content p {
  margin-right: 2rem;
  color: #555;
  line-height: 1.7rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.content p::-webkit-scrollbar {
  display: none;
}

.content img {
  display: block;
  max-width: 550px;
  max-height: 300px;
  margin: 0 auto 2rem;
  border-radius: 4px;
}

.bottom-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  user-select: none;
}