<div class="view-container">
  <div class="wrapper">
    <section class="intro-container">
      <div class="top-content">
        <h3>{{ question.intro.header }}</h3>
      </div>
      
      <article class="content">
        <p [innerHTML]="question.intro.body"></p>
        <img
          image-loader 
          *ngIf="question.intro.image" 
          [src]="question.intro.image" 
          alt="question.intro.header"
          draggable="false">
      </article>

      <div class="bottom-content">
        <button class="btn" (click)="onClick()">Continue</button>
      </div>
    </section>

  </div>
</div>

