.progress-bar {
  position: absolute;
  display: block;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 5px;
  background: 
  linear-gradient(45deg, #e03f88, #b073ff);
  transition: width 0.3s ease;
}