.card {
  max-width: 600px;
  min-height: 800px;
  margin: 4rem auto 0;
  padding: 3rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.card p, h1 {
  color: #444;
}

.card h1, p {
  margin-bottom: 2rem;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 5rem auto 0;
  padding: 0.7rem 1.5rem;
  color: #fff;
  border-radius: 3px;
  background-color: #E00366;
}