<div [formGroup]="form" [ngSwitch]="question.type">
  <div *ngSwitchCase="4">
    <div 
      *ngFor="let answer of answers; index as index"
      class="answer-row"
      [class]="setAnswerClass(form.get('answers').value.toLowerCase())">
      <strong>{{ index + 1 }}.</strong>
      <input 
        #answers
        formControlName="answers" 
        (change)="getSelectedAnswers()"
        type="text">
      <label>{{ answer }}</label>
    </div>
  </div>
  
  <div *ngSwitchDefault>
    <label
      *ngFor="let answer of answers; index as index"
      tabindex="0" 
      class="answer"
      [class]="setAnswerClass(answer)">
      <input
        #answers  
        formControlName="answers"
        name="answers"        
        [value]="answers"
        (change)="getSelectedAnswers()"
        [type]="question.type == 1 ? 'radio' : 'checkbox'">
      <span *ngIf="question.type !== 3">
        <strong>{{ index + 1 }}.</strong> {{ answer }}
      </span>
      <span *ngIf="question.type == 3">
        <strong style="text-transform: capitalize;">{{ answer }}</strong>
      </span>
    </label>
  </div>
</div>
