.answer {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #dbe3eb;
  border-radius: 10px;
  user-select: none;
  overflow: hidden;
}

.answer:not(:last-of-type) {
  margin-bottom: 1rem;
}

.answer input {
  display: none;
}

.answer span {
  display: block;
  width: 100%;
  padding: 0.8rem 1rem;
  color: #444;
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.answer input:disabled + span {
  cursor: default;
}

.answer span strong,
.answer-row strong {
  margin-right: 0.5rem;
}

.answer input:checked + span {
  background-color: #dbe3eb !important;
}

.answer-row {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #dbe3eb;
  border-radius: 10px;
  user-select: none;
  overflow: hidden;
}

.answer-row:not(:last-of-type) {
  margin-bottom: 2.1em;
}

.answer-row input {
  flex-shrink: 0;
  position: relative;
  display: block;
  width: 250px;
  margin-right: 1rem;
  margin-left: 0.5rem;
  padding: 0.4rem 0.5rem;
  text-align: center;
  background-color: #e7eff7; 
  border-radius: 8px;
  caret-color: #e00366;
}

.answer-row label {
  color: #444;
  line-height: 1.5rem;
}

.selected {
  background-color: #dbe3eb;
}

.correct-selected {
  border-color: transparent;
  background-color: #5add90;
}

.correct-unselected {
  border: 1px solid #5add90;
}

.wrong-selected {
  border-color: transparent;
  background-color: #fd4242;;
}

.wrong-selected span,
.wrong-selected strong,
.wrong-selected label {
  color: #fff;
}