<div [formGroup]="formGroup" [ngSwitch]="question.type">
  <!-- <div *ngSwitchCase="2">
    <label 
      *ngFor="let answer of question.answers; index as index"
      tabindex="0" 
      class="answer">
      <input
        #answers 
        name="answer"
        (change)="getSelectedAnswers()"
        [value]="answer" 
        type="checkbox">
      <span><strong>{{ index + 1 }}.</strong> {{ answer }}</span>
    </label>
  </div> -->
  
  <div *ngSwitchDefault>
    <label 
      *ngFor="let answer of question.answers; index as index"
      tabindex="0" 
      class="answer">
      <input
        formControlName="answer"
        #answers  
        (change)="getSelectedAnswers()"
        [value]="answer" 
        type="checkbox">
      <span><strong>{{ index + 1 }}.</strong> {{ answer }}</span>
    </label>

    <!-- <label 
      tabindex="0" 
      class="answer">
      <input
        #answers 
        [formControl]="testControl"
        (change)="getSelectedAnswers()"
        type="radio">
      <span>Test</span>
    </label> -->
  </div>
</div>

