h3 {
  padding: 3rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

button {
  margin: auto;
}

.message-box {
  position: relative;
  margin: 5rem auto 0;
  width: 600px;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #f7fbff;
  overflow: hidden;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1000;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0.7rem;
  background-color: #dde3e9;
  cursor: move;
}

.close-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.close-btn .material-icons {
  color: #8d9297;
  transition: color 0.3s ease;
}

.close-btn:hover .material-icons {
  color: #4a4d50;
}

.urser-list {
  width: 300px;
  margin: 2rem auto 0;
  padding: 1rem;
  background-color: #dde3e9;
}

.urser-list li {
  width: 100%;
  padding: 1rem;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  background-color: #4a4d50;
  transition: background-color 0.3s ease;
  user-select: none;
  cursor: pointer;
}

.urser-list li:not(:last-of-type) {
  margin-bottom: 1rem;
}

.urser-list li:hover {
  background-color: #2a2c2e;
}