<div class="wrapper">
  <h3>Nothing to see here yet ...</h3>
  <br><br><br>
  <button routerLink="/test" class="btn">Go Tests</button>

  <!-- <button (click)="isOpen = true"  class="btn">Open Message Box</button>

  <div [@slideUp]="!isOpen ? 'down' : 'up'" class="message-box">
    <div class="top-bar">
      <button (click)="closeBox()" class="close-btn">
        <i class="material-icons">cancel</i>
      </button>
    </div>

    <div [innerHTML]="element" class="content"></div>
  </div> -->

</div>