h3 {
  padding: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin: auto;
  padding: 0.6rem 1rem;
  color: #fff;
  background-color: #E00366;
  border-radius: 3px;
}

button:hover {
  box-shadow: 1px 2px 10px rgba(224, 3, 102, 0.8);
}