<div class="view-container">
  <div *ngIf="!loading && question" class="wrapper">
    <section class="top-section">
      <div class="test-information">
        <h3>{{ testSubject }} Test</h3>
        <p>{{ question.section }}. {{ question.problem }}</p>
      </div>

      <timer [time]="question.timeLimit" (timeout)="onTimeout()"></timer>
    </section>
  
    <section 
      *ngIf="!loading && question"
      class="question-section">
      <div class="top-content">
        <h3>{{ questionNumber }}. {{ question.title }}</h3>
  
        <div class="badge">
          <span>Points:</span>
          <span>{{ question.points }}</span>
        </div>

        <progress-bar></progress-bar>
      </div>
  
      <div class="content">
        <img *ngIf="question.image" [src]="question.image">

        <label 
          *ngFor="let answer of question.answers; index as index"
          tabindex="0" 
          class="answer">
          <input
            #answers 
            (change)="selected = index"
            name="answer"
            [value]="answer" 
            [type]="question.hasVariousAnswers ? 'checkbox' : 'radio'">
          <span><strong>{{ index + 1 }}.</strong> {{ answer }}</span>
        </label>
      </div>
      
      <div class="bottom-content">
        <button 
          [disabled]="selected == null"
          (click)="onTimeout()" 
          class="proceed-btn">
          <span>Next</span>
  
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="1.5rem" height="1.5rem"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </button>
      </div>
    </section>
  </div>

</div>
