.wrapper {
  margin-top: 7rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem 0 2rem;
}

.test-information {
  align-self: flex-end;
}

.test-information h3 {
  padding-bottom: 2rem;
  color: #999;
  font-size: 1.6rem;
  font-weight: 400;
}

.test-information p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.question-section {
  width: 100%;
  height: auto;
  margin: 0 auto 4rem;
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.4s ease;
  overflow: hidden;
}

.top-content {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 1.5rem;
  background-color: #292929;
}

.top-content h3 {
  margin-bottom: 1rem;
  color: #eee;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2rem;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  background-color: #444;
  user-select: none;
}

.badge span:first-of-type {
  margin-right: 0.2rem;
  color: #ccc;
  font-size: 0.9rem;
}

.badge span:last-of-type {
  color: #85a4ff;
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  padding: 3rem 2rem 3rem;
  background-color: #fff;
}

.content img {
  display: block;
  max-width: 550px;
  max-height: 300px;
  margin: 0 auto 2rem;
  border-radius: 4px;
}