.progress-ring {
  user-select: none;
}

.progress-ring-circle {
  stroke-linecap: round;
  fill: transparent;
}

.inner {
  stroke: #0D1019;
  stroke-width: 7px;
}

.outer {
  stroke: #e00366;
  stroke-width: 8px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.count-down {
  font-size: 1rem;
  fill: #9eaec2;
  transition: fill 0.3s linear;
}

.running-out {
  fill: #e44646 !important;
}
