.wrapper {
  padding: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background-color: #292929;
}

.section {
  width: 100%;
}

.section:not(:last-of-type) {
  margin-bottom: 3rem;
}

.test-information {
  position: relative;
  width: 100%;
  padding: 4rem 2rem 2rem;
}

.test-information h3 {
  display: block;
  width: fit-content;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 3px solid #e00366;
}

.test-information::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #292929 transparent transparent transparent;
}

.date {
  display: block;
  width: fit-content;
  color: #ddd;
  font-size: 0.8rem;
  user-select: none;
}

.row-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.row-group:not(:last-of-type) {
  margin: 2rem 0;
}

.row-group span {
  flex-shrink: 0;
  display: block;
}

.row-group span:first-of-type {
  width: 170px;
  color: #999;
  font-size: 1rem;
}

.row-group span:last-of-type {
  color: #fff;
  font-size: 1rem;
}

.row-group .icon {
  margin-left: 1rem;
}

.answers-review {
  width: 100%;
  padding: 3rem;
  background-color: #161516;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.3rem 0.7rem;
  color: #85a4ff;
  border-radius: 20px;
  background-color: #444;
  user-select: none;  
}

.thumbnail-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; 
  padding-top: 2rem;
}

.thumbnail {
  width: 260px;
  height: auto;
  margin-bottom: 4rem;
  border-radius: 6px;
  background-color: #292929;
  box-shadow: 0 0 20px rgba(13, 16, 25, 0.1);  
  transition: filter 0.4s ease;
  overflow: hidden;
}

.thumbnail span, 
.thumbnail img {
  display: block;
  width: 100%;
}

.thumbnail img {
  border-bottom: 0.3rem solid transparent;
}

.thumbnail img.correct {
  border-color: #2cda74;
}

.thumbnail img.wrong {
  border-color: #fd4242;
}

.thumbnail span {
  position: relative;
  padding: 0.7rem;
  color: #fff;
  font-size: 0.95rem;
  white-space: nowrap;
  text-align: left;
  overflow: hidden;
}

.thumbnail span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, #292929 70%);
}

.thumbnail img {
  height: 180px;
  object-fit: cover;
}




/* #e00366; */